body
{
    background: #f4f4f4;
    color: #111;
}

.uploadForm {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
}

.header
{
    background: #808080;
    color: #f4f4f4;
}

.nav__item
{
    color: #f4f4f4;
    background: #808080;
}

.nav__item:hover, .nav__item_active
{
    background: #808080;
}

.theme-button
{
    color: #f4f4f4;
    background: #444;
}

.theme-button:hover
{
    background: #555;
}