<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Preferences</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<form th:action="@{/preferences}" method="post" class="loginForm" >
  <label>
    Тема/Theme:
    <select th:field="${cookieResponse.theme}" name="theme">
      <option th:value="light">Светлая</option>
      <option th:value="dark">Темная</option>
      <option th:value="daltonism">Цветовая слепота</option>
    </select>
  </label><br>
  <label>
    Язык/Language:
    <select th:field="${cookieResponse.lang}" name="lang">
      <option th:value="ru">Русский</option>
      <option th:value="en">English</option>
    </select>
  </label><br>
  <input type="submit" value="Сохранить">
</form>
</body>
</html>